

        <h1 id="index_title"> ELETRO CEEL</h1>
        <h2 id="subtitle">traga seu celular antigo e ganhe 40% de desconto na compra de um novo</h2>
     <img src="https://menvie.com.br/wp-content/uploads/2018/11/concertar-celular-quebrado.png" alt="" width="400" height="400">

    





